---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---

<Layout title="Cargas de Notas">
	<main>
		<h1>Carga de notas</h1>
		<h2><span class="text-gradient">Bienvenido</span></h2>
		<p class="instructions">
			<strong>Ciclo Básico</strong>
		</p>

		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.google.com/spreadsheets/d/1VpLutF282upM1q-gwl1i4A6xTGcXdiETx5nVgLFv5Rg/edit?usp=drive_link"
				title="1º1º CB"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1wHqYHY0O3LnV2XYd5ean6n2P8a4vL9lFhj0Q71HIFq4/edit?usp=drive_link"
				title="1º2º CB"
				
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1keyEpV5MmcqXAikOYDmMnALroJmgEmkba5UhTvnHYao/edit?usp=drive_link"
				title="1º3º CB"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1RAc49vab1zsorDvEfFWJjy9AWhpPJ1g3Q8fumnjT7hQ/edit?usp=drive_link"
				title="1º4º CB"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1pcOfDDCU_Nj_BUYSSY3OARjM4NuBOTMSeGLj8komLig/edit?usp=drive_link"
				title="1º5º CB"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1aCsttjqt4kyHxV_ylzt9Zr9zLoxJ4u065j6_M7R2kQA/edit?usp=drive_link"
				title="1º6º CB"
			/>
		</ul>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.google.com/spreadsheets/d/1Bgkb6tztKBS7OAz0CBcKlr7ADMeJfvPuANszmBKmkzE/edit?usp=drive_link"
				title="2º1º CB"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1pgbf-TKa2dwR-AHFEZYMrLIysYjiyLocA6kCTlfYrqg/edit?usp=drive_link"
				title="2º2º CB"
				
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1-KUzVBZ74ePy0gX_348mPfHRJ6CLT6NBLVrpV_HPBdQ/edit?usp=drive_link"
				title="2º3º CB"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1anOel8IB1gLfdIJR4SbwMbi-00tj5nFnafGJ5Ojeo9E/edit?usp=drive_link"
				title="2º4º CB"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1WeH4G7TewtYSkFkZZD2D-kllgnCSNJxlhiQZlZPdo4g/edit?usp=drive_link"
				title="2º5º CB"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1lATAI2-AuXfwyje2E1hL9gfjnualziwXS1RvmnvcgMM/edit?usp=drive_link"
				title="2º6º CB"
			/>
		</ul>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.google.com/spreadsheets/d/1Q_n0_MpD44JBQOMf9Ll_hBQ8O_hjXFWvU0YRp1o0Lzc/edit?usp=drive_link"
				title="3º1º CB"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/13h7hhNGezJsffSMELDw1fNuZO2GjkPYYhOgK8Nf-kdI/edit?usp=drive_link"
				title="3º2º CB"
				
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1RRFzX9RKX3ntzbx5i6HeGcTRaYLIuojwbXsgZEma-d8/edit?usp=drive_link"
				title="3º3º CB"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/13OAZut38TvWUB8p4Pce50RFsUDRJ4GZj02hVMGWtJzE/edit?usp=drive_link"
				title="3º4º CB"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1JnGgd_XuRh-XjBvbq65PzoDroNb8fAkK18-8tW_q9jk/edit?usp=drive_link"
				title="3º5º CB"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1z5K8Wk1DfLAT7PnnjeE0ZolQVaFiNVVax3r-uQqD8Qs/edit?usp=drive_link"
				title="3º6º CB"
			/>
		</ul>
		<p class="instructions">
			<strong>Ciclo Orientado</strong>
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.google.com/spreadsheets/d/1D5_ikO7cl_-LUmXmI8nYZ7o3vFIA2nYYVoK6zasmqas/edit?usp=drive_link"
				title="4º1º EF"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1qwMqGaawjxjQ_ZsJp49tiO31TG6o-LWNMuNexkXTd3A/edit?usp=drive_link"
				title="4º2º EF"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1XtGOZBF2ZJm9vntwVWCFY9MQx328pwr3UlQMHC8leVc/edit?usp=drive_link"
				title="5º1º EF"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/18wHXalA-fJe7LcCP5xwE5XNb75wAhEQlxriG1eTZD2c/edit?usp=drive_link"
				title="5º2º EF"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1WLkbFr94uMYXDAzQqRC-0045pWxkR5hAOhh-klAkkjE/edit?usp=drive_link"
				title="6º1º EF"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1QuHUKQ59hak2TDefEekmYRKx_Mkg621-DMz-8ZFT-N0/edit?usp=drive_link"
				title="6º2º EF"
			/>
		</ul>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.google.com/spreadsheets/d/1G9gqQccRTOKl1C6B2iZt05nA6QEC1mf-AOD3BlU9nWk/edit?usp=drive_link"
				title="4º1º CS"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/127BUaeAOjzSkjCM1iwh3xC73oNXHYWf72g2Ao9hterk/edit?usp=drive_link"
				title="4º2º CS"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1Z69X1DdoBAjrC8wHzUo-G9al51F8bGrVl952k_RHp1s/edit?usp=drive_link"
				title="5º1º CS"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1Qg_MqeyTm_tjv3dEIZAlxBKoH6f1RZjk2-4OoT4G4OQ/edit?usp=drive_link"
				title="5º2º CS"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1afBdO_bQa5w6f7hquNeqQ74Wb7uaO_LNkKsCK73jVYY/edit?usp=drive_link"
				title="6º1º CS"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1CH2RLgAQbacqhlgdfi6HhRSTfqOvDM5QmlKi2R7ua6Q/edit?usp=drive_link"
				title="6º2º CS"
			/>
		</ul>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.google.com/spreadsheets/d/1dgMPHS_SoNrJiTXRVcsMDBXPFzOYmT8QY9ZsCiKpYhE/edit?usp=drive_link"
				title="4º1º EyA"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1mDiHgmTLbsWWHvjhqxUrPa6QR32MhUs9bohLShzwjr0/edit?usp=drive_link"
				title="4º2º EyA"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1i2pQzPf2_PZQ2-lBrT9tu-JzRAWodtkMR9n3-y1W7lY/edit?usp=drive_link"
				title="5º1º EyA"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1X-Hqr-B5jDE4BfEOMtW68dD5QWxQ0fM8DtE297HNZXI/edit?usp=drive_link"
				title="5º2º EyA"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1PiieXxx3McXVSv5m2ilQ7oc2kpYjPz0cVkeN-kIajPY/edit?usp=drive_link"
				title="6º1º EyA"
			/>
			<Card
				href="https://docs.google.com/spreadsheets/d/1KYnD0E8sJz3yYu-_9RjLF-9YF6OeXT4B9wXK3-M7vPo/edit?usp=drive_link"
				title="6º2º EyA"
			/>
		</ul>

	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		
		margin: auto;
		padding: 1rem;
		width: 80%;
		/* width: 800px; */
		/* max-width: calc(100% - 2rem); */
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	main.container {
		max-width: 1200px;
		display: flex;
		flex-direction: column;
		justify-content: center;


	}

	h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		margin-top: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	h2{
		font-size: 2rem;
	}
	.instructions {
		margin-top: 4rem;
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
		width: 100%;
	}


	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(6, 14%);
		justify-content: center;
		gap: 2rem;
		margin-top: 2rem;
		padding: 0;
	}
</style>
