---
import { Image } from "astro:assets";
import portada from '/public/portada.jpg'
---
<header>
  <div class="banner">
    <Image src={portada} alt="portada"/>
  </div>
</header>

<style>
  header{
    display: flex;
    max-width: 1500px;
    align-items: center;
    /* flex-direction: column;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
     */
  }
  .banner{
    /* display: flex; */
    /* position: relative; */
    width: 100%;
    height: auto;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../../public/Portada.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }
  .banner img{
    width: 100%;
    height: auto;
  }
</style>